In [1]:
import pandas as pd

In [48]:
# data valid

data1 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_scraping.xlsx',sheet_name = 'detik')
data2 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data1.xlsx')
data3 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data2.xlsx')
data4 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data3.xlsx')

In [49]:
label = []
for i in range(len(data1.berita)):
    label.append('valid')

data1['label'] = label

In [50]:
# tag covid dll
data1.head()

,title,berita,label
0,Penjajakan MRT Anies ke Eropa Munculkan Sindir...,Anies Baswedan bertemu Menteri Inggris membaha...,valid
1,Cara China Dipakai Korut untuk Tangkal COVID U...,Korut mengkonfirmasi 21 kematian warga akibat ...,valid
2,Epidemiolog Bicara soal Kemunculan Hepatitis M...,Epidemilog menyebut adanya hepatitis misterius...,valid
3,"Target Nol Covid, China Batasi Warga ke Luar N...",China menerapkan pembatasan perjalanan ke luar...,valid
4,"Bertambah 308 Positif Corona 14 Mei, DKI Sumba...",Kasus Covid-19 di Indonesia per 14 Mei 2021 be...,valid

In [51]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4875 entries, 0 to 4874
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   4875 non-null   object
 1   berita  4875 non-null   object
 2   label   4875 non-null   object
dtypes: object(3)
memory usage: 114.4+ KB

In [52]:
# tag pilpres 2024, capres, dll
data2.head()

   Unnamed: 0                                               text  label
0           0  Partai Buruh bersama aliansi buruh akan mengge...  valid
1           1  Lembaga survei Charta Politika Indonesia menye...  valid
2           2  Lembaga survei LSI Denny JA merilis survei ele...  valid
3           3  PAN akan mengumumkan 6 nama capres-cawapres ya...  valid
4           4  Peneliti LSI Denny JA, Ardian Sopa, mengatakan...  valid

In [53]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2769 entries, 0 to 2768
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2769 non-null   int64
 1   text        2769 non-null   object
 2   label       2769 non-null   object
dtypes: int64(1), object(2)
memory usage: 65.0+ KB

In [54]:
# tag minyak
data3.head()

   Unnamed: 0                                               text  label
0           0  Senator Amerika Serikat (AS) dari Demokrat Ron...  valid
1           1  Cek infografis berikut ini, ada 'harta karun' ...  valid
2           2  Pihak Rusia merespons embargo minyak oleh Uni ...  valid
3           3  Para pemimpin negara-negara Eropa bertemu pada...  valid
4           4  Sudah sampai ke restoran yang diinginkan, emak...  valid

In [55]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1823 entries, 0 to 1822
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1823 non-null   int64
 1   text        1823 non-null   object
 2   label       1823 non-null   object
dtypes: int64(1), object(2)
memory usage: 42.9+ KB

In [56]:
# tag wisata, formula-e
data4.head()

   Unnamed: 0                                               text  label
0           0  Menjajal wisata dengan mobil VW keliling pedes...  valid
1           1  Pemkab Kulon Progo, DIY, akan menggelar sejuml...  valid
2           2  Ada 3 gunung indah jadi rekomendasi untuk kamu...  valid
3           3  Titik Nol IKN kini menjadi destinasi wisata di...  valid
4           4  Sebagai pengunjung tempat wisata memahami tand...  valid

In [57]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1846 entries, 0 to 1845
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1846 non-null   int64
 1   text        1846 non-null   object
 2   label       1846 non-null   object
dtypes: int64(1), object(2)
memory usage: 43.4+ KB

In [58]:
# dataset yg digunakan 500 tiap tag
data1 = data1.iloc[:150,1:]
data2 = data2.iloc[:150,1:]
data3 = data3.iloc[:150,1:]
data4 = data4.iloc[:150,1:]

In [59]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   berita  150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [60]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [61]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [62]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [23]:
# data hoax

data_hoax1 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_scraping.xlsx',sheet_name = 'turnbackhoax')
data_hoax2 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_hoax1.xlsx')
data_hoax3 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_hoax2.xlsx')
data_hoax4 = pd.read_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_hoax3.xlsx')

In [24]:
label = []
for i in range(len(data_hoax1.berita)):
    label.append('hoax')

data_hoax1['label'] = label

In [25]:
data_hoax1.head()

,title,berita,label
0,[SALAH] Video “Ade Armando Bongkar Rahasia Sej...,"Faktanya, video tersebut dipotong sehingga Ade...",hoax
1,[SALAH] Bantuan Voucer Pulsa Senilai Rp2 Juta ...,Hasil Periksa Fakta Novita Kusuma Wardhani. In...,hoax
2,[SALAH] Moderna Memproduksi Virus dan Vaksin C...,Hasil periksa fakta Ari Dwi Prasetyo. Beredar ...,hoax
3,[SALAH] Putusan Mahkamah Agung Republik Indone...,Hasil periksa fakta Riza Dwi (Anggota Tim Kali...,hoax
4,[SALAH] Vaksin Booster Covid-19 Dapat Menyebab...,Hasil periksa fakta Fathia IS. Klaim tersebut ...,hoax

In [26]:
data_hoax2

     Unnamed: 0                                               text label
0             0  Informasi yang keliru, sampai saat ini tidak d...  hoax
1             1  Hasil Periksa Fakta Ani Nur MR (Universitas Ai...  hoax
2             2  Judul editan / suntingan. Judul asli artikel t...  hoax
3             3  Unggahan akun Facebook Adib Widodo adalah sala...  hoax
4             4  Informasi tersebut tidak benar dan menyesatkan...  hoax
..          ...                                                ...   ...
275         275  “bijaksana memilih sumber berita online JULY 1...  hoax
276         276  Sumber : Media Sosial Narasi : FAKTA JOKOWI BU...  hoax
277         277  Sumber : Media Daring Narasi : AGENT CIA [STEV...  hoax
278         278  Sumber : Media Sosial Narasi : Eheum eheum ben...  hoax
279         279  SUMBER: https://www.kaskus.co.id/show_post/555...  hoax

[280 rows x 3 columns]

In [27]:
data_hoax3

     Unnamed: 0                                               text label
0             0  Hasil periksa fakta Riza Dwi (Anggota Tim Kali...  hoax
1             1  BUKAN ayahnya. Remaja di foto berinisial MWR (...  hoax
2             2  Hasil Periksa Fakta Ani Nur MR Judul tidak ses...  hoax
3             3  Hasil Periksa Fakta Khairunnisa A. Bukan video...  hoax
4             4  Hasil Periksa Fakta Renanda Dwina Putri (Anggo...  hoax
..          ...                                                ...   ...
162         162  Sumber: Media Sosial dan Portal Daring (https:...  hoax
163         163  Sumber: Portal Daring Posmetro (http://www.pos...  hoax
164         164  Sumber: Portal Daring dan Media Sosial (http:/...  hoax
165         165  Sumber: Media Sosial (https://m.facebook.com/s...  hoax
166         166  Sumber: Media Sosial Narasi: Lihatlah didalam ...  hoax

[167 rows x 3 columns]

In [28]:
data_hoax4

     Unnamed: 0                                               text label
0             0  Hasil Periksa Fakta Luthfiyah OJ (UIN Raden Ma...  hoax
1             1  Hasil Periksa Fakta Ani R Informasi Palsu. Dik...  hoax
2             2  Hasil Periksa Fakta Renanda Dwina Putri (Anggo...  hoax
3             3  Hasil Periksa Fakta Novita Kusuma Wardhani (In...  hoax
4             4  Foto EDITAN. Foto asli adalah saat John Lennon...  hoax
..          ...                                                ...   ...
164         164  Sumber: Media Sosial (https://m.facebook.com/s...  hoax
165         165  Sumber: Whatsapp, BBM, Media Sosial, dan Media...  hoax
166         166  Sumber : Media Daring Narasi : Ahok Minta Warg...  hoax
167         167  Sumber : Media Sosial Narasi : Mohon penceraha...  hoax
168         168  Sumber: Akun Media Sosial Facebook atas nama V...  hoax

[169 rows x 3 columns]

In [29]:
# dataset yg digunakan 500 tiap tag
data_hoax1 = data_hoax1.iloc[:150,1:]
data_hoax2 = data_hoax2.iloc[:150,1:]
data_hoax3 = data_hoax3.iloc[:150,1:]
data_hoax4 = data_hoax4.iloc[:150,1:]

In [30]:
data_hoax1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   berita  150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [31]:
data_hoax2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [32]:
data_hoax3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

In [33]:
data_hoax4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    150 non-null    object
 1   label   150 non-null    object
dtypes: object(2)
memory usage: 2.5+ KB

# tag 1

In [65]:
from sklearn.utils import shuffle

In [63]:
data_new1 = pd.concat([data1,data_hoax1])
data_new1.head()

                                              berita  label
0  Anies Baswedan bertemu Menteri Inggris membaha...  valid
1  Korut mengkonfirmasi 21 kematian warga akibat ...  valid
2  Epidemilog menyebut adanya hepatitis misterius...  valid
3  China menerapkan pembatasan perjalanan ke luar...  valid
4  Kasus Covid-19 di Indonesia per 14 Mei 2021 be...  valid

In [64]:
data_new1.tail()

                                                berita label
145  Hasil periksa fakta Arief Putra Ramadhan. Buka...  hoax
146  Ketiga foto yang disebarkan tersebut adalah sa...  hoax
147  Hasil Periksa Fakta Gabriela Nauli Sinaga (Uni...  hoax
148  Profesor David Morris, Ilmuwan yang dicatut da...  hoax
149  Hasil Periksa Fakta Renanda Dwina Putri (Anggo...  hoax

In [68]:
data_new1 = shuffle(data_new1)
data_new1 = data_new1.reset_index(drop=True)
data_new1.head(10)

                                              berita  label
0  Kamis, 6 Agustus 2020 13:00-14:30 WIB. Simak d...   hoax
1  Perdana Menteri (PM) Selandia Baru Jacinda Ard...  valid
2  Hasil Periksa Fakta Indri Pramesti Widyaningru...   hoax
3  Padahal, Plt Dinas Pendidikan Klaten Yunanta t...  valid
4  Hasil Periksa Fakta Novita Kusuma Wardhani (In...   hoax
5  Not all photos uploaded by the source claim to...   hoax
6  Hasil periksa fakta Riza Dwi (Anggota Tim Kali...   hoax
7  China menerapkan pembatasan perjalanan ke luar...  valid
8  Beragam cara mengantisipasi penyebaran wabah P...  valid
9  Pasien berusia 9 tahun suspek hepatitis mister...  valid

In [77]:
# merubah nama kolom
data_new1.columns = ['text','label']
data_new1.head()

                                                text  label
0  Kamis, 6 Agustus 2020 13:00-14:30 WIB. Simak d...   hoax
1  Perdana Menteri (PM) Selandia Baru Jacinda Ard...  valid
2  Hasil Periksa Fakta Indri Pramesti Widyaningru...   hoax
3  Padahal, Plt Dinas Pendidikan Klaten Yunanta t...  valid
4  Hasil Periksa Fakta Novita Kusuma Wardhani (In...   hoax

# tag 2

In [69]:
data_new2 = pd.concat([data2,data_hoax2])
data_new2.head()

                                                text  label
0  Partai Buruh bersama aliansi buruh akan mengge...  valid
1  Lembaga survei Charta Politika Indonesia menye...  valid
2  Lembaga survei LSI Denny JA merilis survei ele...  valid
3  PAN akan mengumumkan 6 nama capres-cawapres ya...  valid
4  Peneliti LSI Denny JA, Ardian Sopa, mengatakan...  valid

In [70]:
data_new2 = shuffle(data_new2)
data_new2 = data_new2.reset_index(drop=True)
data_new2.head(10)

                                                text  label
0  Hasil Periksa Fakta Ani Nur MR (Universitas Ai...   hoax
1  Sekjen PDIP membeberkan kriteria sosok capres ...  valid
2  "Bapak Presiden mengatakan ojo kesusu. Bahasa ...  valid
3  Foto yang digunakan adalah peristiwa di 2016, ...   hoax
4  Postingan ini berisi klarifikasi yang disampai...   hoax
5  Hasil Periksa Fakta Ani Nur MR (Universitas Ai...   hoax
6  “”Iya benar, infonya kejadian di daerah Cileun...   hoax
7  Sekjen PKS Aboe Bakar menyebut Milad PKS Ke-20...  valid
8  “Sangat tidak benar Menlu RI datang ke Arab Sa...   hoax
9  Apakah capres-capres potensial yang kini bered...  valid

# tag 3

In [71]:
data_new3 = pd.concat([data3,data_hoax3])
data_new3.head()

                                                text  label
0  Senator Amerika Serikat (AS) dari Demokrat Ron...  valid
1  Cek infografis berikut ini, ada 'harta karun' ...  valid
2  Pihak Rusia merespons embargo minyak oleh Uni ...  valid
3  Para pemimpin negara-negara Eropa bertemu pada...  valid
4  Sudah sampai ke restoran yang diinginkan, emak...  valid

In [72]:
data_new3 = shuffle(data_new3)
data_new3 = data_new3.reset_index(drop=True)
data_new3.head(10)

                                                text  label
0  Hasil periksa fakta Rahmah An Nisaa (Uin Sunan...   hoax
1  Cairan diduga minyak muncul dari bekas galian ...  valid
2  Ketua Umum PDI Perjuangan Megawati Soekarnoput...  valid
3  Direktur Utama PT Pertamina (Persero), Nicke W...  valid
4  Uni Eropa mencoba untuk menghentikan impor min...  valid
5  Vitol Group, pedagang minyak independen top du...  valid
6  Kerja sama ini sekaligus dilakukan untuk mewuj...  valid
7  Presiden Komisi Eropa Ursula von der Leyen tel...  valid
8  Pemerintah Jepang saat ini tengah mempertimban...  valid
9  Korea Utara diduga melakukan aktivitas pengiri...  valid

# tag4

In [75]:
data_new4 = pd.concat([data4,data_hoax4])
data_new4.head()

                                                text  label
0  Menjajal wisata dengan mobil VW keliling pedes...  valid
1  Pemkab Kulon Progo, DIY, akan menggelar sejuml...  valid
2  Ada 3 gunung indah jadi rekomendasi untuk kamu...  valid
3  Titik Nol IKN kini menjadi destinasi wisata di...  valid
4  Sebagai pengunjung tempat wisata memahami tand...  valid

In [76]:
data_new4 = shuffle(data_new4)
data_new4 = data_new4.reset_index(drop=True)
data_new4.head(10)

                                                text  label
0  Balapan Formula E di Jakarta sukses digelar de...  valid
1  “Tidak ada tentara, bukan tentara. Dan, tidak ...   hoax
2  Hasil Periksa Fakta Renanda Dwina Putri (Anggo...   hoax
3  Informasi palsu. Pihak Polres Blitar menyataka...   hoax
4  Kembali beredar melalui pesan berantai Whatsap...   hoax
5  Menparekraf Sandiaga Uno akan bekerjasama deng...  valid
6  Kepala Humas PDTS KBS, Wini Hustiani menyataka...   hoax
7  Sebagai pengunjung tempat wisata memahami tand...  valid
8  Foto-foto yang digunakan di post tersebut adal...   hoax
9  Di artikel tersebut tidak ada pernyataan dari ...   hoax

# dataset

In [78]:
df = pd.concat([data_new1,data_new2,data_new3,data_new4])

In [79]:
df.head(20)

                                                 text  label
0   Kamis, 6 Agustus 2020 13:00-14:30 WIB. Simak d...   hoax
1   Perdana Menteri (PM) Selandia Baru Jacinda Ard...  valid
2   Hasil Periksa Fakta Indri Pramesti Widyaningru...   hoax
3   Padahal, Plt Dinas Pendidikan Klaten Yunanta t...  valid
4   Hasil Periksa Fakta Novita Kusuma Wardhani (In...   hoax
5   Not all photos uploaded by the source claim to...   hoax
6   Hasil periksa fakta Riza Dwi (Anggota Tim Kali...   hoax
7   China menerapkan pembatasan perjalanan ke luar...  valid
8   Beragam cara mengantisipasi penyebaran wabah P...  valid
9   Pasien berusia 9 tahun suspek hepatitis mister...  valid
10  Hasil Periksa Fakta Khairunnisa Andini (Univer...   hoax
11  Hasil Periksa Fakta Gabriela Nauli Sinaga (Uni...   hoax
12  Kasus Covid-19 di Indonesia per 14 Mei 2021 be...  valid
13  Fasilitas Rumah Sakit Adi Husada Undaan Wetan ...  valid
14  Hasil Periksa Fakta Khairunnisa Andini. Bukan ...   hoax
15  Belum usai dengan ancaman virus COVID-19 dan h...  valid
16  Sugeng menilai sinergi antara Pemerintah dan P...  valid
17  "Telah dilakukan uji sampel di BBVet (Balai Be...  valid
18  Hasil Periksa Fakta Ani Nur MR (Universitas Ai...   hoax
19  Hasil Periksa Fakta Ani Nur MR (Universitas Ai...   hoax

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1200 entries, 0 to 299
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1200 non-null   object
 1   label   1200 non-null   object
dtypes: object(2)
memory usage: 28.1+ KB

In [82]:
# save dataset
df.to_excel('D:/orbit_future_academy/Proyek Akhir/Dataset/data_scraping/dataset.xlsx')